---
apiVersion: v1
kind: Pod
metadata:
  name: configmap-pod
spec:
  containers:
    - name: nginx
      image: nginx
      env:
      - name: Course
        valueFrom: 
          configMapKeyRef:
          - name: course-configmap
            key: course
      - name: Duration
        valueFrom: 
          configMapKeyRef:
          - name: course-configmap
            key: duration


# $kubectl apply -f 07-pod-configmap.yaml
# $kubectl get pods
# $kubectl exec -it config-pod -- bash


